form {
  width: 70%;
  margin: 2rem auto 0 auto;
  text-align: center;
  height: 45rem;
  
}

.data-finalizar {
  text-align: start;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 3rem;
  color: rgb(117, 114, 114);
}

.form {
  width: 100%;
}

.buttons {
  width: 100%;
  text-align: start;
}

button {
  margin-right: 0.5rem;
  margin-top: 0.2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  width: 100%;
}

.btn-upload {
  text-align: left;
}
.btn-upload button{
  color: white;
  background-color: #5e70d6;
}

.select-motivo {
 text-align: left;
 font-weight: 500;
 font-size: 16px;
}

.lebelmotivo {
  font-size: 18px;
  font-weight: 500;
}

.file {  
  text-align: left; 
  margin-top: 1rem;
}

.file .file-input{
  font-size: 18px;
  color: rgb(104, 100, 100);
  margin-bottom: .3rem;
}

.message {
  font-size: 16px;
  color: rgb(98, 57, 173);
  margin-bottom: 2rem;
  font-weight: 400;
  font-style: italic;
}

.done-file {
  position: absolute;
  padding-left: .5rem;
}

button {
  font-size: 18px;
}

.msg2mb {
  color: red;
  margin-bottom: 2rem;
}

mat-label {
  font-size: 20px;
}
input {
  font-size: 18px;
}

textarea{
  height: 6rem;
  font-size: 18px;
}

