.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, hwb(261 15% 19%) 0%, rgb(136, 151, 252) 100%);
    display: flex;
  }

form {    
    text-align: center;      
    border-radius: 1rem;   
}

.content form {
    padding: 40px;
    background-color: rgb(235, 235, 235);
    max-width: 500px;
    
}

.form {
    width: 100%;
  }

h1{ 
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 600;
    color: rgb(97, 93, 93);
}

.buttons button {
    margin: .5rem;
}

.title-cadastro h2 {
    font-weight: 600;
    color: rgb(97, 93, 93);
}