<mat-toolbar class="header mat-elevation-z8">

  <div class="menu">
  <button mat-button routerLink="" mat-button>Home</button>
  <button mat-button routerLink="/listar" mat-button>Chamado</button>
  <button mat-button> 
    <mat-icon>account_circle</mat-icon>     
    <label>{{username}}</label>
  </button>
  
    <!-- <span>
        <img src="assets/img/logo.png" alt="logo-chamado"/>
    </span> -->
    
    

    <button class="menu-logout" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div mat-menu-item disabled="true">
          <mat-icon>email</mat-icon>
          <label>{{email}}</label>
        </div>
        
        <button (click)="logout()" mat-menu-item>
            <mat-icon>logout</mat-icon>
            <label>Saír</label>
        </button>
      </mat-menu>
    </div>  
</mat-toolbar>

