<app-header></app-header>
<div class="container">
  <h1>Chamados Finalizados</h1>
  <div class="badge">
      <button (click)="voltar()" mat-stroked-button color="primary">Voltar</button>
  </div>
  
  <div class="content" *ngFor="let item of listfinishd | paginate: { itemsPerPage: 5, currentPage: pag ,
      totalItems: total}; let i = index">
      <mat-card class="mat-elevation-z8">
        <p>Data de Criação: {{item.dataCriacao}} </p>
          <mat-card-header>
            <mat-card-title>Número: {{item.id}}</mat-card-title>                           
            <mat-card-subtitle>Titulo: {{item.titulo}}</mat-card-subtitle>
            <mat-card-subtitle class="status" *ngIf="item.finalizado === true">Finalizado
              <mat-icon>done_all</mat-icon>
            </mat-card-subtitle>
                      
          </mat-card-header>
          <div class="actions">
              <button routerLink="visualizar-finalizados/{{item.id}}" mat-mini-fab color="">
                  <mat-icon>visibility</mat-icon>
              </button>
                             
              <button (click)="delete(item.id, i)" mat-mini-fab color="warn" *ngIf="showAdmin === true">
                  <mat-icon>delete</mat-icon>
              </button>
              
          </div>
          
        </mat-card>
        
  </div>
  <div class="text-right">
      <pagination-controls (pageChange)="carregarPagina(pag = $event);" 
         previousLabel="Anterior" nextLabel="Próximo" >
      </pagination-controls>     
  </div>
  
</div>
<app-footer></app-footer>
