<div class="container">
  
    <form class="form mat-elevation-z8"
    #f="ngForm" novalidate>
      <h1>Chamados</h1>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Username:</mat-label>
          <input [formControl]="username" required
           [(ngModel)]="form.email" name="username" matInput placeholder="Ex. Username">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Senha:</mat-label>
            <input [formControl]="senha" required
            [(ngModel)]="form.senha" name="senha" type="password" matInput placeholder="Ex. Password">
          </mat-form-field>
          <button (click)="logar()" [disabled]="!validaCampos()" class="full-width mat-elevation-z4" mat-stroked-button color="primary">Login</button>
         
          <label class="cad" (click)="cadastro()" >Cadastrar-se</label>
      </form>
          
</div>

