form {
    width: 70%;
    margin: 2rem auto 0 auto;
    text-align: center;
    height: 35rem;
    font-size: 16px;
  }
  
  .data-finalizar {
    text-align: start;
  }
  
  h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color: rgb(42, 138, 50);
  }
  
  .form {
    width: 100%;
    
  }
  
  .buttons {
    width: 100%;
    text-align: start;
  }
  
  button {
    margin-right: 0.5rem;
    margin-top: 0.2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    width: 100%;
  }

  textarea{
    height: 6rem;
  }

  mat-label {
    font-weight: 500;
    color: rgb(97, 93, 93);
  }
  
  .done-all {  
    position: absolute;
    padding-left: .5rem;    
  }

  button {
    font-size: 18px;
  }

  mat-label {
    font-size: 18px;
    font-weight: 500;
    color: #5a6bc9;
  }
  
  .card-file {
    font-weight: 500;
    color: rgb(97, 93, 93);
    background-color: rgb(237, 245, 245);
    margin-bottom: 1rem;
  }
  
  .card-header{
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color: rgb(240, 243, 243);
    background-color: #5a6bc9;
    
  }
  .content-card{
    text-align: left;
    font-weight: 500;
    background-color: rgb(252, 252, 252);
  }
  
  mat-card-subtitle {
    font-size: 18px;
    padding: .5rem;
  }
  